@use 'sass:map';

$breakpoints: (
  xs: 375px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
);

@mixin respond-from($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}
