@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$color-bg: #F2F0EB;
$color-bg-subtle: #FFFFFF;
$color-bg-muted: #E7E3DA;
$color-text: #1A1918;
$color-text-muted: rgba(#423F3D, 0.75);
$color-text-sublte: #A8968A;
$color-primary: #3A673D;
$color-primary-dark: #20693A;
$color-primary-light: #D6EBDF;
$color-accent: #A85B24;
$color-accent-dark: #87491D;
$color-accent-light: #F6E3D5;
$color-data-1: #3A4DDA;
$color-data-2: #208048;
$color-data-3: #B36025;
$color-data-4: #D2C4A7;
$color-success: #45A16B;
$color-warning: #D48D11;
$color-danger: #BD3228;
$color-info: #3075A6;

$font-stack: Outfit, sans-serif;

body {
  font: 100% $font-stack;
  color: $color-primary;
  padding: 24px;
}

h1 {
  font-size: 3.25rem;
  font-weight: 800;
  line-height: 105%;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 130%;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.body-small {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
}

.metric-large {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 160%;
}

.metric-large {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}
